<div id="menu">
  <a href="index.html"><div class="menuItem">Home</div></a>
  <a href="terms.html"><div class="menuItem">Terms</div></a>
  <a href="imprint.html"><div class="menuItem">Imprint</div></a>
</div>