@{
  Layout = string.Format("~/Views/{0}/_Layout/_Layout.cshtml", MobiContext.Current.Service.ServiceData.Template.Name);
}

  <div id="content">
    <h1>@Translations.Web.Imprint.Title</h1>
    @Html.Raw(Server.HtmlDecode(ViewHelper.Prepare(Translations.Web.Imprint.Text)))
  </div>
